#!/usr/bin/env python
# -*- coding: utf-8 -*-
# __author__ = 'gmfork'

import os
from LogStatus import LogStatus
from httpApi import httpContainer

#  有道API设置
KEY={0:key1,1:key1,
     2:key1,3:key1,
     4:key1,5:key1,
     6:key1,7:key1,
     8:key1,9:key1}
KEYFROM={0:"KEYFROM",1:"KEYFROM",
         2:"KEYFROM",3:"KEYFROM",
         4:"KEYFROM",5:"KEYFROM",
         6:"KEYFROM",7:"KEYFROM",
         8:"KEYFROM",9:"KEYFROM"}


# 打印初始化
RED=31
GREEN=32

LOG=LogStatus()

# HTTP设置
HTTP_PROXY="http://127.0.0.1:8087"
HTTPS_PROXY="http://127.0.0.1:8087"
TIMEOUT=10
HEADERS={
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
    "Accept-Encoding":"gzip, deflate, sdch",
    "Accept-Language":"zh-CN,zh;q=0.8",
    "User-Agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.90 Safari/537.36",
    }

HTTPCONTAINER=httpContainer(LOG=LOG,HEADERS=HEADERS,HTTP_PROXY=HTTP_PROXY,HTTPS_PROXY=HTTPS_PROXY,TIMEOUT=TIMEOUT)


# 程序基本设置初始化
ROOT=os.getcwd()

VULDB=ROOT+'/vulDB/'

if not os.path.exists(VULDB):
    os.mkdir(VULDB)

if not os.path.exists(ROOT+"/url.db"):
    with open(ROOT+"/url.db",'w'):
        pass

# if not os.path.exists(ROOT+"/cncert.db"):
#     with open(ROOT+"/cncert.db",'w'):
#         pass


CVEDB=[cve[:-4] for cve in os.listdir(VULDB)]

